.root{
    -fx-background-color: #383838;
    -fx-font-size: 18pt;
    -fx-font-family: Arial;
    -fx-font-color: #e8e8e8;
}

.custom-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 10;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, rgb(57, 114, 179) 0%, rgb(34, 50, 124) 100%),
        rgb(44, 59, 141),
        rgb(43, 34, 124),
        radial-gradient(center 50% 50%, radius 100%, rgb(51, 108, 172), rgb(19, 39, 93));
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 20pt;
    -fx-font-family: "Penumbra-HalfSerif";
}

.custom-button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.custom-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.custom-button:selected {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.label {
    -fx-text-fill: #bab5ee;
    -fx-text-weight: bold;
    -fx-font-size: 28pt;
    -fx-font-family: "Penumbra-HalfSerif";
    -fx-opacity: 1;
}

#alignment {
    -ms-flex-align: center;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Penumbra-HalfSerif";
    -fx-background-color: #bab5ee;
}

.card-select-archer {
    -fx-graphic: url('archer.png');
}
.card-select-swordsman {
    -fx-graphic: url('swordsman.jpg');
}
.card-select-shield {
    -fx-graphic: url('shield.png');
}
.card-select-dragon {
    -fx-graphic: url('dragon.png');
}
.card-select-goblin {
    -fx-graphic: url('goblin.jpg');
}
.card-select-knight {
    -fx-graphic: url('knight.jpg');
}

.card-picker-image {
    -fx-background-image: url("JVl4jt.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1250 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.background-image {
    -fx-background-image: url("picture.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1250 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}